.Navigation{
    position: fixed;
    bottom: 0px;
    z-index: 1;
    width: 100%;
}
.homeWapper{
    display: flex;
}
.searchWrapper{
    display: flex;
    justify-content: center;
    padding: 50px 20px 20px 20px;
}
.searchInput{
    border-radius: 50%;
    height: 30px;
    width: 350px;
    background-color: #E3E3E3;
}
.listStyle{
    width: 380px;
    height: 100px;
}
.listItemStyle-book{
    margin: 20px;
    padding: 0px;
    background: url("../../assets/listItemBackgroundBook.png");
    background-size: 100% 100%;
    border-radius: 20px;
    min-height:50px;
}
.listItemStyle-video{
    margin: 20px;
    padding: 0px;
    background: url("../../assets/listItemBackgroundVideo.png");
    background-size: 100% 100%;
    border-radius: 20px;
}
.listItemStyle-music{
    margin: 20px;
    padding: 0px;
    background: url("../../assets/listItemBackgroundMusic.png");
    background-size: 100% 100%;
    border-radius: 20px;
}
.listImage{
    padding-top: 15px;
}
.blankContainer{
    height: 77px;
}