.userHeader{
    display: flex;
    justify-content: space-around;
    padding: 40px 20px 20px 20px;
    background: url(../../assets/userBackground.png) no-repeat;
    background-size: 100% 100%;
    height: 150px;
    width: 100%;
}
.logouLogo{
    position: absolute;
    top:53px;
    right: 3px;
}
.listStyle {
  width: 380px;
  height: 100px;
}
.listItemStyle {
  margin: 20px;
  padding: 0px;
  background-color: #F5F5F5;
  background-size: 100% 100%;
  border-radius: 20px;
  min-height: 50px;
}
.listWrapper{
    display: flex;
}